html{
    font-size: 1rem;
  } 
  
  @media(max-width:100rem){
    html{
      font-size: 1rem;
    }
  }
  @media(max-width:90rem){
    html{
      font-size: 0.875rem;
    }
  }
  @media(max-width:62rem){
    html{
      font-size: 1rem;
    }
    .container{
      width: 100%;
      margin: 0 auto;
  }
    .header{
      .img-wrapper{
        margin-right: 2.9375rem;
        img{
          min-width: 132px;
        }
      }
      .header-form{
        margin-right: 4.5625rem;
        .header-input{
          padding: 0.75rem 10.1875rem 0.8125rem 1.4375rem;
        }
      }
    }
    .second-header__wrapper{
      .second-header{
        .second-header__nav{
          width: 100%;
          .second-header__ul{
            justify-content: space-evenly;
            .second-header__li{
              .second-header__link{
                font-size: 0.75rem;
              }
            }
            .second-header__li:not(:last-child){
              margin-right: 0rem;
          }
          }
        }
      }
    }
  }
  @media(max-width:767px){
    .header-burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
      }
    }
    .header-burger::before,
    .header-burger::after{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    .header-burger::before{
      top: 0;
    }
    .header-burger::after{
      bottom: 0;
    }
    .header-menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333333;
    }
  }
